.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 0px 35px 5px rgb(93, 93, 93);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  padding: 0;

  h2 {
    padding: 2rem;
  }
  z-index: 2;
}

.library-song {
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;

  img {
    width: 30%;
    border-radius: 50%;
  }

  &:hover {
    background-color: rgb(209, 209, 209);
    transition: all 0.3s;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background-color: rgb(235, 235, 235);
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }

  .library-song {
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 14px;
    }
  }
}
