nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button,
  a {
    color: inherit;
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
    padding: 0.6rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}

.wrapper {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  animation: fadeIn 0.5s ease-in-out, 0.5s fadeOut 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    top: -100px;
  }
  to {
    top: 20px;
  }
}

@keyframes fadeOut {
  from {
    top: 20px;
  }
  to {
    top: -100px;
  }
}
